@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pour cacher la barre de scroll tout en gardant le défilement */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}